In [27]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('C:/Users/Andrew/Documents/dat11syd/data/titanic.csv')

In [52]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [54]:
#Check if all boolean fields are actually represented as boolean fields. If not, perform transformations or delete columns
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [47]:
#Initialise counters
check = 0

for
    #Delete columns that have too little data. A new or deprecated feature in the specified time period
    mindata = 50
    for column in df:
        if df[column].count() < mindata:
            del df[column]
             
    #Skip over introductory products that if at all have been classified wrong over time
    if ('hasintroductoryrate' not in df) and (df > 0).any():
        check = 1
    else:    
        if df.loc[0, 'hasintroductoryrate'] = True:
            check1 = False
        else    

    if check = 1:
        check = 0
        break
    #Continue with the regression if intro product has been classified correctly
    else:
        
    
    #Delete admin columns

Cabin

In [ ]:
#Decide which of the columns that have too little data should be deleted and which can be left to impute

#...

#Delete admin columns