In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.preprocessing import scale
from sklearn import model_selection  # cross_validation
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error

In [11]:
data = pd.read_csv('C:/Users/Andrew/Documents/dat11syd/lessons/lesson-07/hwk/seattleWeather_1948-2017.csv')
data = data[pd.notnull(data['RAIN'])]
data = data[pd.notnull(data['PRCP'])]
DATE = data['DATE']
del data['DATE']
data['TAVE'] = (data['TMAX'] + data['TMIN'])/2
del data['TMAX']
del data['TMIN']
data.RAIN = data.RAIN.astype(int)
data=(data-data.mean())/data.std()
data['DATE'] = DATE

In [12]:
data['DATE'] =  pd.to_datetime(data['DATE'])
data.head()

       PRCP      RAIN      TAVE       DATE
0  1.521885  1.159224 -0.528433 1948-01-01
1  2.023911  1.159224 -1.101962 1948-01-02
2  1.312707  1.159224 -1.149756 1948-01-03
3  0.852517  1.159224 -1.197551 1948-01-04
4  0.266820  1.159224 -1.293139 1948-01-05

In [13]:
split_date = pd.datetime(2009,12,31)

df = data.loc[data['DATE'] <= split_date]
df_val = data.loc[data['DATE'] > split_date]
df_val.head()

           PRCP      RAIN      TAVE       DATE
22646  1.229036  1.159224 -0.337256 2010-01-01
22647 -0.193370  1.159224 -0.671815 2010-01-02
22648 -0.318877  1.159224 -0.815198 2010-01-03
22649  3.655495  1.159224 -0.528433 2010-01-04
22650  0.141314  1.159224 -0.480639 2010-01-05

In [5]:
print(df.shape)
print(df_val.shape)

(22643, 4)
(2905, 4)

In [8]:
df.corr()

          PRCP      RAIN      TAVE
PRCP  1.000000  0.515055 -0.165747
RAIN  0.515055  1.000000 -0.293864
TAVE -0.165747 -0.293864  1.000000

In [15]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression as L

coef1 = []
coef2 = []
coef3 = []

for i in range(0,100):
    feature_cols = ['PRCP', 'TAVE']
    X = df[feature_cols]
    y = df['RAIN']    
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=i)
    logreg.fit(X_train, y_train)    
    coef1.append(logreg.coef_[0])
    coef2.append(logreg.coef_[1])
    print(logreg.coef_)
    
print(np.average(coef1))
print(np.average(coef2))

a = np.average(coef1)
b = np.average(coef2)

TypeError: fit() missing 1 required positional argument: 'y'

In [ ]:
Y = data.RAIN.unique()
j = -1
pred = []
for i in df_val['DATE']:
    j = j + 1
    y_pred = a * df_val.iloc[j]['PRCP'] + b * df_val.iloc[j]['TAVE']
    if y_pred >= np.average(Y):
        y_pred = True
    else:
        y_pred = False
    pred.append(y_pred)

In [ ]:
check = pd.read_csv('C:/Users/Andrew/Documents/dat11syd/lessons/lesson-07/hwk/seattleWeather_1948-2017.csv')
check = check[pd.notnull(check['RAIN'])]
check = check[pd.notnull(check['PRCP'])]
check['DATE'] =  pd.to_datetime(check['DATE'])
split_date = pd.datetime(2009,12,31)
check_val = check.loc[check['DATE'] > split_date]
check_val.head()

In [ ]:
correct = []
j = -1
for i in check_val['RAIN']:
    j = j + 1
    if pred[j] == i:
        correct.append(1)
    else:
        correct.append(0)
print('Percentage Estimated Correctly: ' + str(np.sum(correct)/len(correct)*100) + '%')